{% extends 'base.html' %}
{% block title %}首页{% endblock %}
{% block head %}
{% endblock %}
{% block main %}
    <div style="width:200px;height:200px; margin-right: auto;margin-left: auto;">
        <img style="width:200px;height:200px; margin-right: auto;margin-left: auto;"
             src="https://bkimg.cdn.bcebos.com/pic/86d6277f9e2f07081efdfd81e924b899a801f2b3?x-bce-process=image/resize,m_lfit,w_268,limit_1/format,f_jpg">
    </div>
    <p></p>
    <div style="font-size: 30px">
    比价系统简介：本系统帮助用户利用浏览器，快速方便的对商品的价格，品牌等进行直接的比较操作，使散乱的各种商品，变得有序。记录能够具体化，直观化，合理化，更加深入，确切的了解用户的需求。提高用户的购物体验，能节约用户对商品检索时间，促成商品的成交。
    </div>
    <p></p>

{% endblock %}
