{% extends 'base.html' %}
{% block title %}搜索信息详情页{% endblock %}
{% block head %}

{% endblock %}
{% block main %}
    {##}
    <!-- CSS goes in the document HEAD or added to your external stylesheet -->
    <style type="text/css">
        table.gridtable {
            font-family: verdana, arial, sans-serif;
            font-size: 13px;
            color: #333333;
            border-width: 1px;
            border-color: #666666;
            border-collapse: collapse;
        }

        table.gridtable th {
            border-width: 2px;
            padding: 30px;
            border-style: solid;
            border-color: #666666;
            background-color: #dedede;
        }

        table.gridtable td {
            border-width: 2px;
            padding: 30px;
            border-style: solid;
            border-color: #666666;
            background-color: #ffffff;
        }
    </style>
    <div style="width:auto;height: 50px;"><a href="http://127.0.0.1:5000/sector_chart?id={{ search_id }}"><input
            style="align-content: center;font-size: 30px" name="价位扇形图" type="button"
            id="btn1"
            title="价位扇形图" value="价位扇形图"/></a></div>
    <!-- Table goes in the document BODY -->
    <div style="display:flex;
align-items:center;
justify-content:center;">
        <table class="gridtable">
            <tr>
                <th>序号</th>
                <th>价格</th>
                <th>名称</th>
                <th>评分</th>
                <th>图片</th>
                <th>购买链接</th>
                {% for item in info_list %}
                    <tr>
                        <td>{{ loop.index }}</td>

                        <td>{{ item.price }}</td>
                        <td>{{ item.name }}</td>
                        {% if item.purchase_index %}
                            <td>{{ item.purchase_index }}</td>
                        {% else %}
                            <td>无评分</td>
                        {% endif %}
                        {% if item.img %}
                            <td><img style="width:100%;
                                     height:auto;" src="{{ item.img }}"></td>
                        {% else %}
                            <td>无图片</td>
                        {% endif %}
                        <td><a href="{{ item.url }}">购买链接</a></td>
                    </tr>
                {% endfor %}
        </table>
    </div>
{% endblock %}
